@{
    ViewData["Title"] = "О нас";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в самый уютный магазин книг</h1>
    <p class="lead mt-4">
        В интернет-магазине "Мир книг" вы найдете широкий ассортимент литературы на любой вкус.
        Наш магазин создан для настоящих ценителей книг, для тех, кто не мыслит своей жизни без чтения.
        Мы предлагаем книги различных жанров: художественную литературу, научную, образовательную, бизнес-книги,
        детскую литературу и многое другое.
    </p>
    <p class="lead mt-4">
        Наша миссия – сделать книги доступными для каждого. Мы стремимся к тому, чтобы каждый читатель нашел свою
        идеальную книгу, которая принесет радость, вдохновение и новые знания. Мы работаем только с проверенными
        издательствами и гарантируем высокое качество продукции.
    </p>
    <p class="lead mt-4">
        У нас вы найдете новинки книжного мира, а также редкие издания, которые уже не встретишь в обычных магазинах.
        Мы гордимся своим ассортиментом и всегда рады предложить что-то особенное для наших клиентов.
    </p>
    <p class="lead mt-4">
        Мы заботимся о каждом клиенте и предлагаем удобную систему заказа и доставки. С нами вы можете быть уверены,
        что ваша книга будет доставлена быстро и в отличном состоянии.
    </p>
    <p class="lead mt-4">
        Спасибо, что выбрали "Мир книг". Мы рады быть частью вашей читательской жизни!
    </p>
</div>

<div class="text-center mt-5 mb-5">
    <img src="@Url.Content("~/images/homeimg.jpg")" alt="Картинка с главной страницы" class="img-fluid" style="max-width: 70%; height: auto;">
</div>

<style>
    .footer-margin {
        margin-bottom: 100px; /* Отступ от футера */
    }
</style>

<div class="footer-margin"></div>

